

{% block header %}
  <h1>{% block title %}Add player{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="first_name">First name</label>
    <input name="first_name" id="first_name" required >
    <label for="last_name">Last name</label>
    <input name="last_name" id="last_name">
    <label for="squad_number">Squad number</label>
    <input name="squad_number" id="squad_number">
    <input type="submit" value="Save">
  </form>
{% endblock %}